<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
        <section>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Каталог</h5>
                    <ul class="list-unstyled mb-0">
                        <li><a asp-action="Catalog" asp-controller="Catalog" class="text-dark">iPhone 16</a></li>
                        <li><a asp-action="Catalog" asp-controller="Catalog" class="text-dark">iPhone 15</a></li>
                        <li><a asp-action="Catalog" asp-controller="Catalog" class="text-dark">iPhone Accessories</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Информация</h5>
                    <ul class="list-unstyled mb-0">
                        <li><a asp-action="About" asp-controller="Home" class="text-dark">О нас</a></li>
                        <li><a asp-action="Privacy" asp-controller="Home" class="text-dark">Условия обслуживания</a></li>
                        <li><a asp-action="Privacy" asp-controller="Home" class="text-dark">Политика конфиденциальности</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Помощь</h5>
                    <ul class="list-unstyled mb-0">
                        <li><a href="#" class="text-dark">FAQ</a></li>
                        <li><a href="#" class="text-dark">Контакты</a></li>
                        <li><a href="#" class="text-dark">Обратная связь</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Социальные сети</h5>
                    <ul class="list-unstyled mb-0">
                        <li><a href="#" class="text-dark">Twitter</a></li>
                        <li><a href="#" class="text-dark">Facebook</a></li>
                        <li><a href="#" class="text-dark">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <div class="text-center p-3 bg-dark text-white">© 2024 iPhone Store. Все права защищены.</div>
</footer>
