@model dynamic

@{
    ViewBag.Title = "О нас";
    Layout = "_Layout";
}

<h2>О нас</h2>

<p>Добро пожаловать в наш магазин, посвященный технике Apple! Мы являемся официальными партнерами Apple и предлагаем широкий ассортимент продукции, включая iPhone, iPad, MacBook и аксессуары.</p>

<h3>Наша миссия</h3>
<p>Наша миссия — предоставить нашим клиентам лучшие продукты и услуги Apple, а также обеспечить высокий уровень обслуживания. Мы стремимся сделать ваш опыт покупок максимально удобным и приятным.</p>

<h3>Почему выбирают нас?</h3>
<ul>
    <li><strong>Оригинальная продукция:</strong> Мы гарантируем, что вся техника, которую мы продаем, является оригинальной и сертифицированной.</li>
    <li><strong>Квалифицированные специалисты:</strong> Наша команда состоит из опытных специалистов, готовых помочь вам с выбором и ответить на все ваши вопросы.</li>
    <li><strong>Гарантия качества:</strong> Мы предоставляем гарантию на все товары и услуги, которые мы предлагаем.</li>
    <li><strong>Удобные условия покупки:</strong> Мы предлагаем различные способы оплаты и доставки, чтобы сделать процесс покупки максимально удобным для вас.</li>
</ul>

<h3>Свяжитесь с нами</h3>
<p>Если у вас есть вопросы или вам нужна помощь, не стесняйтесь обращаться к нам:</p>
<ul>
    <li>Email: support@gmail.com</li>
    <li>Телефон: +7(916)1231234</li>
</ul>

<p>Спасибо, что выбрали нас! Мы рады помочь вам найти идеальную технику Apple.</p>