@model dynamic

@{
    ViewBag.Title = "О нас";
    Layout = "_Layout";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">О нас</h2>

    <p class="lead">Добро пожаловать в наш магазин, посвященный технике Apple! Мы являемся официальными партнерами Apple и предлагаем широкий ассортимент продукции, включая iPhone, iPad, MacBook и аксессуары.</p>

    <div class="row my-4">
        <div class="col-md-6">
            <h3>Наша миссия</h3>
            <p>Наша миссия — предоставить нашим клиентам лучшие продукты и услуги Apple, а также обеспечить высокий уровень обслуживания. Мы стремимся сделать ваш опыт покупок максимально удобным и приятным.</p>
        </div>
        <div class="col-md-6">
            <h3>Почему выбирают нас?</h3>
            <ul class="list-group">
                <li class="list-group-item"><strong>Оригинальная продукция:</strong> Мы гарантируем, что вся техника, которую мы продаем, является оригинальной и сертифицированной.</li>
                <li class="list-group-item"><strong>Квалифицированные специалисты:</strong> Наша команда состоит из опытных специалистов, готовых помочь вам с выбором и ответить на все ваши вопросы.</li>
                <li class="list-group-item"><strong>Гарантия качества:</strong> Мы предоставляем гарантию на все товары и услуги, которые мы предлагаем.</li>
                <li class="list-group-item"><strong>Удобные условия покупки:</strong> Мы предлагаем различные способы оплаты и доставки, чтобы сделать процесс покупки максимально удобным для вас.</li>
            </ul>
        </div>
    </div>

    <div class="my-4">
        <h3>Свяжитесь с нами</h3>
        <p>Если у вас есть вопросы или вам нужна помощь, не стесняйтесь обращаться к нам:</p>
        <ul class="list-group">
            <li class="list-group-item"><strong>Email:</strong> support@gmail.com</li>
            <li class="list-group-item"><strong>Телефон:</strong> +7(916)1231234</li>
        </ul>
    </div>

    <p class="text-center mt-5">Спасибо, что выбрали нас! Мы рады помочь вам найти идеальную технику Apple.</p>
</div>
