@{
    ViewData["Title"] = "Админ панель";
}

<h2>Админ панель</h2>
<p>Редактирование таблиц и управление пользователями</p>
<ul>
    <li><a href="/Users/List">Пользователи</a></li>
    <li><a href="/Products/List">Товары</a></li>
    <li><a href="/Roles/List">Роли</a></li>
</ul>

