@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h1>@ViewData["Title"]</h1>

<p>Добро пожаловать на страницу нашей Политики конфиденциальности. Ваша конфиденциальность имеет для нас первостепенное значение.</p>

<h2>Информация, которую мы собираем</h2>
<p>Мы собираем различные типы информации, чтобы предоставить вам наши услуги:</p>
<ul>
    <li><strong>Личная информация:</strong> Это включает ваше имя, адрес электронной почты и любую другую информацию, которую вы предоставляете при регистрации или обращении к нам.</li>
    <li><strong>Данные об использовании:</strong> Мы можем собирать информацию о том, как вы получаете доступ к нашему веб-сайту и используете его, включая ваш IP-адрес, тип браузера и посещенные страницы.</li>
</ul>

<h2>Как мы используем вашу информацию</h2>
<p>Ваша информация помогает нам:</p>
<ul>
    <li>Предоставлять и поддерживать наши услуги.</li>
    <li>Уведомлять вас об изменениях в наших услугах.</li>
    <li>Позволять вам участвовать в интерактивных функциях нашего сервиса, когда вы решите это сделать.</li>
    <li>Предоставлять поддержку клиентам.</li>
    <li>Собирать анализ или ценную информацию, чтобы мы могли улучшить наши услуги.</li>
    <li>Мониторить использование наших услуг.</li>
    <li>Обнаруживать, предотвращать и решать технические проблемы.</li>
</ul>

<h2>Безопасность данных</h2>
<p>Мы серьезно относимся к безопасности вашей личной информации и принимаем соответствующие технические и организационные меры для ее защиты.</p>

<h2>Ваши права</h2>
<p>Вы имеете право на:</p>
<ul>
    <li>Доступ к личной информации, которую мы храним о вас.</li>
    <li>Запрос на исправление любой неточной информации.</li>
    <li>Запрос на удаление вашей личной информации.</li>
</ul>

<h2>Изменения в этой Политике конфиденциальности</h2>
<p>Мы можем время от времени обновлять нашу Политику конфиденциальности. Мы уведомим вас о любых изменениях, разместив новую Политику конфиденциальности на этой странице.</p>

<h2>Свяжитесь с нами</h2>
<p>Если у вас есть какие-либо вопросы по этой Политике конфиденциальности, пожалуйста, свяжитесь с нами:</p>
<ul>
    <li>Email: support@gmail.com</li>
    <li>Телефон: +7(916)1231234</li>
</ul>